<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- این قانون همه درخواست‌ها را به index.php هدایت می‌کند -->
        <rule name="Redirect all to index.php" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="interfaces/site/index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
